body {
  margin: 0px;
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-pink-romantic-beautiful-cosmetics-psd-layered-master-map-background-material-image_132613.jpg");
  background-size: cover;
}

#navigation {
  background-color: rgb(162, 90, 230)!important;
  border: solid black;
  font-size: 20px;
}

.row {
  margin-top: 20px;
}

.rounded {
  border-radius: 20%!important;
  -webkit-border-radius: 20%!important;
  -moz-border-radius: 20%!important;
  -ms-border-radius: 20%!important;
  -o-border-radius: 20%!important;
  margin: 10px;
  height: 80%;
  width: 80%;
}

.list-group-item {
  background-color: lightskyblue!important;
}

.col-8 {
  background-color: palevioletred;
  padding: 0px;
}

.col-4 {
  background-color: palevioletred;
}

h2 {
  background-color: rgb(162, 90, 230)!important;
  border: solid black;
  width: 100%;
}

.col-8 {
  text-align: justify;
  padding: 15px;
  font-size: 19px;
}

.card{
  height: 1500px;
  width: 1200px;
}

#bg-warning {
  margin: 20px 0px 0px 20px;
}

#bg-success {
  margin: 20px 20px 0px 0px;
}

#bg-secondary {
  margin: 0px 0px 0px 20px;
}

#bg-primary {
  margin: 0px 20px 0px 0px;
}

.paragraph {
  font-size: 20px;
}

#exampleFormControlTextarea1 {
  height: 200px;
}

.form-control {
  width: 50%;
  margin: auto;
}

#return {
  font-size: 25px;
}

@media screen and (max-width: 576px) {
  .navbar {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  #image {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .row {
    width: 150px;
  }
}

#footer {
  width: 100%;
  background-color: rgb(162, 90, 230)!important;
  border: solid black;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  margin-top: 20px;
  margin-bottom: -10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 30px;
}

.skills {
  height: 50%;
  width: 100%;
  background-color: skyblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.symbols {
  height: 150px;
  width: 150px;
  margin: 10px;
}