body {
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-pink-romantic-beautiful-cosmetics-psd-layered-master-map-background-material-image_132613.jpg");
  background-size: contain;
}

#navigation {
  background-color: blueviolet!important;
  border: solid black;
  font-size: 20px;
}

#contactHeader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph {
  font-size: 20px;
}

#exampleFormControlTextarea1 {
  height: 200px;
}

.form-control {
  width: 50%;
  margin: auto;
}

#return {
  font-size: 25px;
}

#footer {
  font-size: 20px;
  background-color: blueviolet;
}