body {
  text-align: center;
  background-image: url("https://media.istockphoto.com/photos/distance-love-concept-sending-love-letter-valentines-day-kraft-with-picture-id1082281016");
  background-size: contain;
}

#contactHeader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph{
  font-size: 20px;
}

#exampleFormControlTextarea1 {
  height: 200px;
}

.form-control {
  width: 50%;
  margin: auto;
}

#return {
  font-size: 25px;
}

#footer{
  font-size: 20px;
  background-color: blueviolet;
}